.displayFlex {
	display: inline-flex;
	justify-content: center;
 	background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

.fontStyle {
	font-family: "Courier New", Courier, monospace;
	font-weight: lighter;
	line-height: 2rem;
}