.display-flex {
	display: inline-flex;
	justify-content: center;
	padding: 10px;
	padding-bottom: 10px;
}

.fontStyle {
	font-family: "Courier New", Courier, monospace;
	font-weight: lighter;
	line-height: 2rem;
}