.App {
	  display: contents;
    justify-content: center;
    font-weight: lighter;
    text-align: center;
}

.border-history {
    border-top: 4px solid magenta;
    padding-top: 3px;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;

  padding-top: 6px;

  letter-spacing: 4px;
  word-spacing: -8px;
  color: black;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

/*.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
*/

