li {
  font-weight: bold;
  padding-left: 1rem;
}

.card {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}

.para {
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  padding-left: 2rem;
  margin-top: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style {
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}


.buttonStyle {
  display: inline-block;
  padding-top: 6px;
  max-width: 300px;
}

button {
  margin: 20px
}

.line {
/*  border-bottom: 2px solid #eee;*/
}

.box {
  display: inline-block;
  margin: 10px;
  border-top: 1px solid magenta;
  border-bottom: 1px solid cyan;
  max-width: 650px;
  padding: 20px;
}
